tensorboard 
absl-py 
werkzeug
markdown
oauthlib
certifi
urllib3
idna
chardet
requests
requests-oauthlib
pyasn1
pyasn1-modules 
cachetools
rsa
google-auth
google-auth-oauthlib
grpcio
tensorboard
scipy
joblib
scikit-learn
sklearn
retrying
plotly 
pytz
python-dateutil
pandas == 0.24.2
soupsieve
beautifulsoup4
bs4
lxml
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
